<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SCK</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/sidebar.css">
    <link rel="stylesheet" href="/static/css/shop-homepage.css" >
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body >
<div class="wrapper d-flex align-items-stretch">
    <!-- sidebar -->
    <th:block th:insert="include/sidebar.html"></th:block>
    <!-- Page Content  -->
    <div id="content" class="p-3">
        <div class="container">
            <div class="col-lg-12">
                <!-- Search -->
                <div class="detail-search">
                    <!--<p class="search__title">
                    구장을 검색하세요!
                </p>-->
                    <input class="detail-input" type="text" placeholder="구장 검색"/>
                    <button class="detail-btn">GO</button>
                </div>
                <!-- /Search -->
<!--                <div class="detail-title">
                    <h1 id="fieldMainNm">라온 풋살장</h1>
                    <h4 id="fieldTel">010-0000-0000</h4>
                    <h3 id="fieldAddress">서울 어디구 어디동</h3>
                    <button>지도보기</button>
                </div>-->
            </div>
        </div>
    </div>
    <!-- /Page Content -->
</div>
<!-- /Sidebar -->
</body>
</html>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/popper.js"></script>
<!--<script src="/static/js/bootstrap.min.js"></script>-->
<script src="/static/js/main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"/>
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>