<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SCK 구장 예약</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/intro.css">
</head>
<body>
    <!-- 인트로 컨테이너 -->
    <div>
        <!-- Header -->
        <div class="header">
            <!-- Logo -->
            <a href="/"><img class="header-logo" src="/static/img/logo.png" alt="로고"/></a>
            <span class="header-title">SCK는 등록된 구장의 정보와 위치, 시설 등을 확인할 수 있으며 </span>
        </div>
        <!-- 인트로 동영상(mp4) -->
        <div class="test"></div>
    </div>
</body>
</html>