<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SCK</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/sidebar.css">
    <link rel="stylesheet" href="/static/css/shop-homepage.css" >
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body >

<!-- Top -->
<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">-->
<!--    <div class="container">-->
<!--        <a class="navbar-brand" href="/">Soccer Kick</a>-->
<!--    </div>-->
<!--</nav>-->
<!-- /Top -->

<!-- Side -->
<div class="wrapper d-flex align-items-stretch">
    <!-- sidebar -->
    <th:block th:insert="include/sidebar.html"></th:block>
    <!-- Page Content  -->
    <div id="content" class="p-3">
        <div class="container">

            <!-- Search -->
            <div class="search__container">
                <!--<p class="search__title">
                    구장을 검색하세요!
                </p>-->
                <input class="search__input" type="text" placeholder="구장 검색">
                <button class="search__btn">GO</button>
            </div>
            <!-- /Search -->
            <!-- 금주의 인기 구장 -->
            <div class="col-lg-12 popularity-box" style="text-align: center;">
                <p style="font-size: 20px; margin-top: 1%;"><b>금주의 인기 구장</b></p>
                <div class="div-card popularity-banner">
                    <div class="col-lg-4 col-md-6 mb-4">
                        <input class="rank" type="button" value="1" disabled/>
                        <div class="card h-100 card-shadow">
                            <figure class="snip1445">
                                <img class="card-img-top card-img" src="/static/img/field_1.jpg" alt="">
                                <figcaption>
                                    <div>
                                        <h4>자세히보기</h4>
                                    </div>
                                </figcaption>
                                <a href="#"></a>
                            </figure>
                            <div class="card-body">
                                <h5 class="card-title c-title"><b>서울 축구구장</b></h5>
                                <p class="card-text c-content">테스트 데이터</p>
                                <h6 class="card-h6">02-000-0000</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <input class="rank" type="button" value="2" disabled/>
                        <div class="card h-100 card-shadow">
                            <figure class="snip1445">
                                <img class="card-img-top card-img" src="/static/img/field_1.jpg" alt="">
                                <figcaption>
                                    <div>
                                        <h4>자세히보기</h4>
                                    </div>
                                </figcaption>
                                <a href="#"></a>
                            </figure>
                            <div class="card-body">
                                <h5 class="card-title c-title"><b>서울 축구구장</b></h5>
                                <p class="card-text c-content">테스트 데이터</p>
                                <h6 class="card-h6">02-000-0000</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <input class="rank" type="button" value="3" disabled/>
                        <div class="card h-100 card-shadow">
                            <figure class="snip1445">
                                <img class="card-img-top card-img" src="/static/img/field_1.jpg" alt="">
                                <figcaption>
                                    <div>
                                        <h4>자세히보기</h4>
                                    </div>
                                </figcaption>
                                <a href="#"></a>
                            </figure>
                            <div class="card-body">
                                <h5 class="card-title c-title"><b>서울 축구구장</b></h5>
                                <p class="card-text c-content">테스트 데이터</p>
                                <h6 class="card-h6">02-000-0000</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12" style="margin: 0 auto;">
                <!-- 원래 슬라이드 -->
                <!--                <div th:insert="/include/slide.html"></div>-->
                <div class="select-box-shadow">
                    <select class="form-control">
                        <option value="전체보기">전체보기</option>
                        <option value="서울">서울</option>
                        <option value="대전">대전</option>
                        <option value="대구">대구</option>
                        <option value="부산">부산</option>
                    </select>
                </div>

                <div class="div-card">

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100 card-shadow">
                            <figure class="snip1445">
                                <img class="card-img-top card-img" src="/static/img/field_1.jpg" alt="">
                                <figcaption>
                                    <div>
                                        <h4>자세히보기</h4>
                                    </div>
                                </figcaption>
                                <a href="#"></a>
                            </figure>
                            <div class="card-body">
                                <h5 class="card-title c-title"><b>서울 축구구장</b></h5>
                                <p class="card-text c-content">테스트 데이터</p>
                                <h6 class="card-h6">02-000-0000</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100 card-shadow">
                            <figure class="snip1445">
                                <img class="card-img-top card-img" src="/static/img/field_2.jpg" alt="">
                                <figcaption>
                                    <div>
                                        <h4>자세히보기</h4>
                                    </div>
                                </figcaption>
                                <a href="#"></a>
                            </figure>
                            <div class="card-body">
                                <h5 class="card-title c-title"><b>산티아고 베르나베우 스타디움</b></h5>
                                <p class="card-text c-content">용산구 한강대로23길 55 현대아이파크몰ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ</p>
                                <h6 class="card-h6">02-000-0000</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100 card-shadow">
                            <figure class="snip1445">
                                <img class="card-img-top card-img" src="/static/img/field_2.jpg" alt="">
                                <figcaption>
                                    <div>
                                        <h4>자세히보기</h4>
                                    </div>
                                </figcaption>
                                <a href="#"></a>
                            </figure>
                            <div class="card-body">
                                <h5 class="card-title c-title"><b>산티아고 베르나베우 스타디움</b></h5>
                                <p class="card-text c-content">용산구 한강대로23길 55 현대아이파크몰</p>
                                <h6 class="card-h6">02-000-0000</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100 card-shadow">
                            <figure class="snip1445">
                                <img class="card-img-top card-img" src="/static/img/field_2.jpg" alt="">
                                <figcaption>
                                    <div>
                                        <h4>자세히보기</h4>
                                    </div>
                                </figcaption>
                                <a href="#"></a>
                            </figure>
                            <div class="card-body">
                                <h5 class="card-title c-title"><b>산티아고 베르나베우 스타디움</b></h5>
                                <p class="card-text c-content">용산구 한강대로23길 55 현대아이파크몰</p>
                                <h6 class="card-h6">02-000-0000</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100 card-shadow">
                            <figure class="snip1445">
                                <img class="card-img-top card-img" src="/static/img/field_2.jpg" alt="">
                                <figcaption>
                                    <div>
                                        <h4>자세히보기</h4>
                                    </div>
                                </figcaption>
                                <a href="#"></a>
                            </figure>
                            <div class="card-body">
                                <h5 class="card-title c-title"><b>산티아고 베르나베우 스타디움</b></h5>
                                <p class="card-text c-content">용산구 한강대로23길 55 현대아이파크몰</p>
                                <h6 class="card-h6">02-000-0000</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100 card-shadow">
                            <figure class="snip1445">
                                <img class="card-img-top card-img" src="/static/img/field_6.jpg" alt="">
                                <figcaption>
                                    <div>
                                        <h4>자세히보기</h4>
                                    </div>
                                </figcaption>
                                <a href="#"></a>
                            </figure>
                            <div class="card-body">
                                <h5 class="card-title c-title"><b>웸블리 스타디움</b></h5>
                                <p class="card-text c-content">용산구 한강대로23길 55 현대아이파크몰</p>
                                <h6 class="card-h6">02-000-0000</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100 card-shadow">
                            <figure class="snip1445">
                                <img class="card-img-top card-img" src="/static/img/field_6.jpg" alt="">
                                <figcaption>
                                    <div>
                                        <h4>자세히보기</h4>
                                    </div>
                                </figcaption>
                                <a href="#"></a>
                            </figure>
                            <div class="card-body">
                                <h5 class="card-title c-title"><b>웸블리 스타디움</b></h5>
                                <p class="card-text c-content">용산구 한강대로23길 55 현대아이파크몰</p>
                                <h6 class="card-h6">02-000-0000</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100 card-shadow">
                            <figure class="snip1445">
                                <img class="card-img-top card-img" src="/static/img/field_6.jpg" alt="">
                                <figcaption>
                                    <div>
                                        <h4>자세히보기</h4>
                                    </div>
                                </figcaption>
                                <a href="#"></a>
                            </figure>
                            <div class="card-body">
                                <h5 class="card-title c-title"><b>웸블리 스타디움</b></h5>
                                <p class="card-text c-content">용산구 한강대로23길 55 현대아이파크몰</p>
                                <h6 class="card-h6">02-000-0000</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100 card-shadow">
                            <figure class="snip1445">
                                <img class="card-img-top card-img" src="/static/img/field_6.jpg" alt="">
                                <figcaption>
                                    <div>
                                        <h4>자세히보기</h4>
                                    </div>
                                </figcaption>
                                <a href="#"></a>
                            </figure>
                            <div class="card-body">
                                <h5 class="card-title c-title"><b>웸블리 스타디움</b></h5>
                                <p class="card-text c-content">용산구 한강대로23길 55 현대아이파크몰</p>
                                <h6 class="card-h6">02-000-0000</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100 card-shadow">
                            <figure class="snip1445">
                                <img class="card-img-top card-img" src="/static/img/field_6.jpg" alt="">
                                <figcaption>
                                    <div>
                                        <h4>자세히보기</h4>
                                    </div>
                                </figcaption>
                                <a href="#"></a>
                            </figure>
                            <div class="card-body">
                                <h5 class="card-title c-title"><b>웸블리 스타디움</b></h5>
                                <p class="card-text c-content">용산구 한강대로23길 55 현대아이파크몰</p>
                                <h6 class="card-h6">02-000-0000</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100 card-shadow">
                            <figure class="snip1445">
                                <img class="card-img-top card-img" src="/static/img/field_6.jpg" alt="">
                                <figcaption>
                                    <div>
                                        <h4>자세히보기</h4>
                                    </div>
                                </figcaption>
                                <a href="#"></a>
                            </figure>
                            <div class="card-body">
                                <h5 class="card-title c-title"><b>웸블리 스타디움</b></h5>
                                <p class="card-text c-content">용산구 한강대로23길 55 현대아이파크몰</p>
                                <h6 class="card-h6">02-000-0000</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100 card-shadow">
                            <figure class="snip1445">
                                <img class="card-img-top card-img" src="/static/img/field_6.jpg" alt="">
                                <figcaption>
                                    <div>
                                        <h4>자세히보기</h4>
                                    </div>
                                </figcaption>
                                <a href="#"></a>
                            </figure>
                            <div class="card-body">
                                <h5 class="card-title c-title"><b>웸블리 스타디움</b></h5>
                                <p class="card-text c-content">용산구 한강대로23길 55 현대아이파크몰</p>
                                <h6 class="card-h6">02-000-0000</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- More -->

                <!-- /More -->
                <!-- Page -->
                <!--<div class="page" style="display: flex; justify-content: center;">
                    <ul class="pagination page-modal">
                        <li><a href="#" class="first">처음</a></li>
                        <li><a href="#" class="arrow left"><<</a></li>
                        <li><a href="#" class="active num">1</a></li>
                        <li><a href="#" class="num">2</a></li>
                        <li><a href="#" class="num">3</a></li>
                        <li><a href="#" class="num">4</a></li>
                        <li><a href="#" class="num">5</a></li>
                        <li><a href="#" class="num">6</a></li>
                        <li><a href="#" class="num">7</a></li>
                        <li><a href="#" class="num">8</a></li>
                        <li><a href="#" class="num">9</a></li>
                        <li><a href="#" class="arrow right">>></a></li>
                        <li><a href="#" class="last">끝</a></li>
                    </ul>
                </div>-->
                <!-- /Page -->

            </div>
        </div>
    </div>
    <!-- /Page Content -->
</div>
<!-- /Sidebar -->
</body>
</html>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/popper.js"></script>
<!--<script src="/static/js/bootstrap.min.js"></script>-->
<script src="/static/js/main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"/>
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>